.workshop
{
    background-image: url('../sections/workshop/images/1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #525FE1;
}